#root{
width: 100%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
background-color: hsl(185, 75%, 39%);
background-image: url('./assets/images/bg-pattern-bottom.svg');
background-repeat: no-repeat;
background-position: 610px 300px;

  
}
html{
  width: 100%;
  height: 100%;
  margin: 0;
}
  body{
    width: 100%;
    height: 100%;
    margin: 0;
    }
    h1{
      margin: 0;
    }